#
# Alpine SoC drivers configuration
#

menuconfig AL_HAL
        tristate "Alpine Hardware Abstraction Layer"
        help
          Enable this to get Alpine HAL support

config ALPINE_PLATFORM
	string "Alpine Platform Type"
	help
		choose Alpine SOC type (e.g. TOPROCK).

